<strong style="color: green;">{{msg}}</strong><br/>
<div class="container">
<div class="d-flex">
<div class="p-1 flex-grow-1">
    <h4 class="text-center my-5" style="color:blueviolet;">Udenkem Food Delivery Inc.</h4><hr>
    <h4 class="text-center my-5"><b>Update Food Menu Item</b></h4><hr>
    <form [formGroup]="updatefooditemRef" (ngSubmit)="updateFoodMenuItem()">
        <label class="form-label">Food ID</label>
        <input class="form-control px-5" type="number" formControlName="fid"/><br/>
        <label class="form-label">Food Name</label>
        <input class="form-control" type="text" formControlName="foodname"/><br/>
        <label class="form-label">Description</label>
        <input class="form-control" type="text" formControlName="description"/><br/>
        <label class="form-label">Food Image</label>
        <input class="form-control" type="text" formControlName="image"/><br/>
        <label class="form-label">Price</label>
        <input class="form-control" type="text" formControlName="price"/><br/>
        <input class="btn btn-primary px-5 ms-2 mx-2 btn-lg" type="submit" value="Update Food Menu"/>
        
    </form><br>
    <table>
        <tr>
            <th></th>
        </tr>
        <tbody>
        <tr *ngFor="let fooditemdetails">
            <td><input type="button"  (click)="update(fooditemdetails)" /></td>
        </tr></tbody>
    </table>
   
</div>
    <div class="align-self-center">
    <img src="https://scontent.fnic3-1.fna.fbcdn.net/v/t39.30808-6/438818164_1600406927167104_4539364241213802432_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hEV9fXRUJCwQ7kNvgHzwgpm&_nc_ht=scontent.fnic3-1.fna&oh=00_AYDI0sB92W7CeGgVW4wyrjzrz4md79C4TNrii2L_Pm-5Tw&oe=664A955F" class="img-thumbnail mx-auto d-block" alt="" width="45%"  >
    </div>
</div>
</div>

